
Clients/.terraform.lock.hcl
Clients/.terraform/providers/registry.terraform.io/hashicorp/aws/5.45.0/darwin_arm64/terraform-provider-aws_v5.45.0_x5
Clients/terraform.tfstate.backup
Clients/terraform.tfstate
.DS_Store
Clients/.terraform.tfstate.lock.info
Clients/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/darwin_arm64/terraform-provider-aws_v5.46.0_x5
Dockers_source_code/.DS_Store
Dockers_source_code/.DS_Store
Actions_workflow/.terraform.lock.hcl
Actions_workflow/.terraform/providers/registry.terraform.io/hashicorp/aws/5.48.0/darwin_arm64/terraform-provider-aws_v5.48.0_x5
Actions_workflow/terraform.tfstate
Actions_workflow/terraform.tfstate.backup
/env
/CWL_Workflow/.ipynb_checkpoints
*.hcl
/Clients/AWS/.terraform
*.tfstate
*.backup
Clients/GCP/.terraform/providers/registry.terraform.io/hashicorp/google/5.33.0/darwin_arm64/LICENSE.txt
Clients/GCP/.terraform/providers/registry.terraform.io/hashicorp/google/5.33.0/darwin_arm64/terraform-provider-google_v5.33.0_x5
*.0_x5
Clients/GCP_arm/.terraform/providers/registry.terraform.io/hashicorp/google/5.33.0/darwin_arm64/LICENSE.txt
Clients/AWS_x86/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.0/darwin_arm64/LICENSE.txt
CWL_Workflow/output.log
Clients/GCP_arm/.terraform.tfstate.lock.info
Clients/GCP_x86/.terraform.tfstate.lock.info
Clients/GCP_x86/.terraform/providers/registry.terraform.io/hashicorp/google/5.33.0/darwin_arm64/LICENSE.txt
Clients/AWS_arm/.terraform.tfstate.lock.info
